:root {
  text-align: center;
  font: 1.2em sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  
  height: 100%;
}

body {
  background-color: #152238;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container header {
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;

  align-items: center;
  align-content: center;
}

nav > ul > li {
  background-color: white;
  padding: 1em;
  flex-grow: 0.1;
}

nav > ul > li {
  margin: 5px;
  border-radius: 25px
}

nav > ul > :last-child {
  margin-left: auto;
  border-bottom-left-radius: 25px;
}

#container main {
  overflow: hidden;
  flex: 1;

  height: 100%;
}

#container main > div {
  height: inherit;
  overflow: auto;

  display: flex;
}

@media only screen and (min-width: 800px) {
  #container main > div > div {
    flex: 3;
    overflow: inherit;
  }

  #container main > div > aside {
    flex: 1;
  }
}

@media only screen and (max-width: 800px) {
  #container main > div {
    flex-direction: column;
  }

  #container main > div > div {
    order: 1;
  }

  #container main > div > aside {
    order: 0;
  }
}

#container footer {
}

#container footer > span {
  float: left;
  margin: 5px;
  padding: 1em;
  background-color: white;
  border-radius: 25px;
}

a:link, a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

/* Maak de scrollbar onzichtbaar */
::-webkit-scrollbar {
  display: none;
}

fieldset {
  border-radius: 8px;
}
