#explore-container {
    background-color: white;
}

#picture-container {
}

#search-bar > form {
    height: 100%;
}

#search-bar > form > fieldset {
    height: 100%;
    box-sizing: border-box;
}

#search-bar > form fieldset > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#search-bar > form fieldset > div > div {
    background-color: #152238;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

#search-bar > form fieldset > input {
    background-color: #152238;
    padding: 10px;
    border-radius: 10px;
    color: white;

    border: none;
}

#search-bar > form fieldset > input:hover {
    color: blue;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 65vh;
}
