#explore-container {
    background-color: white;
}

#picture-container {
}

#search-bar > form {
    height: 100%;
}

#search-bar > form > fieldset {
    height: 100%;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@media (orientation: portrait) {
    picture {
        height: 25vh;
    }
}

@media (orientation: landscape) {
    picture {
        width: 50vw;
    }
}
