#index-container {
    background-color: white;
}

#picture-container {
}

#picture-description > form {
    height: 100%;
}

#picture-description > form > fieldset {
    height: 100%;
    box-sizing: border-box;
}
