#login-container {
    background-color: white;
    width: 100%;
}

/* De `!important` override de CSS van de _Layout CSS, anders werkt dit niet */
#login-container > div {
    flex: 1 !important;
}

#login, #signup {
    overflow: inherit;
}
