:root {
  /* css variable */
  --border-length: 2px;

  text-align: center;
  font: 1.2em sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  
  height: 100%;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container main {
  flex: 1;
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;

  align-items: center;
  align-content: center;
  justify-content: center;
  border-bottom: var(--border-length) solid black;
}

nav > ul > * {
  flex-grow: 0.1;
}

nav > ul > :first-child {
  border-right: var(--border-length) solid black;
}

nav > ul > :last-child {
  margin-left: auto;
  border-left: var(--border-length) solid black;
}
