@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link href="@Url.Content("~/css/Login.css")" rel="stylesheet">
}

<div id="login-container">
    <div id="login">
        <p>
            Login here.
        </p>
        <form action="Login/Login" method="post">
            <fieldset>
                <legend>Login</legend>
                <label for="login-username">Username</label>
                <input id="login-username" name="username" type="text">
                <br>
                <label for="login-password">Password</label>
                <input id="login-password" name="password" type="password">
                <br>
                <hr>
                <input value="Login" type="submit">
            </fieldset>
        </form>
    </div>
    <div id="signup">
        <p>
            Or register here.
        </p>
        <form action="/Login/Register" method="post">
            <fieldset>
                <legend>Signup</legend>
                <label for="signup-username">Username</label>
                <input id="signup-username" name="username" type="text">
                <br>
                <label for="signup-password">Password</label>
                <input id="signup-password" name="password" type="password">
                <br>
                <label for="signup-confirm-password">Confirm Password</label>
                <input id="signup-confirm-password" name="confirm_password" type="password">
                <br>
                <hr>
                <input value="Signup" type="submit">
            </fieldset>
        </form>
    </div>
</div>
