@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles {
    <link href="@Url.Content("~/css/Index.css")" rel="stylesheet">
}

@section Scripts {
    <script src="@Url.Content("~/js/Index.js")" type="module" async></script>
}

<div id="index-container">
    <div id="picture-container">
        <figure>
            <picture>
                <img src="https://picsum.photos/1200/400" alt="">
            </picture>
            <figcaption></figcaption>
        </figure>
    </div>
    <aside id="picture-description">
        <form>
            <fieldset>
                <legend>Filters</legend>
                <label for="img-title">Image Title</label>
                <input id="img-title" name="img-title" type="text">
                <label for="img-description">Description</label>
                <textarea id="img-description" name="img-description" rows="5"></textarea>
                <input value="Submit" type="submit">
            </fieldset>
        </form>
    </aside>
</div>
