@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles {
    <link href="@Url.Content("~/css/Index.css")" rel="stylesheet">
}

@section Scripts {
    <script src="@Url.Content("~/js/Index.js")" type="module" async></script>
}

<div id="drawing-container">
    <div id="toolbar">
        <button type="button" id="eraser" class="button">Eraser</button>
        <button type="button" class="button color" style="background-color: white;"></button>
        <button type="button" class="button color" style="background-color: black;"></button>
        <button type="button" class="button color" style="background-color: red;"></button>
        <button type="button" class="button color" style="background-color: orange;"></button>
        <button type="button" class="button color" style="background-color: yellow;"></button>
        <button type="button" class="button color" style="background-color: green;"></button>
        <button type="button" class="button color" style="background-color: deepskyblue;"></button>
        <button type="button" class="button color" style="background-color: blue;"></button>
        <button type="button" class="button color" style="background-color: purple;"></button>
        <button type="button" class="button color" style="background-color: violet;"></button>
        <button type="button" class="button color" style="background-color: pink;"></button>
        <button type="button" class="button color" style="background-color: lightgreen;"></button>
        <button type="button" class="button color" style="background-color: cyan;"></button>
        <button type="button" class="button color" style="background-color: lightblue;"></button>
        <button type="button" class="button" id="clear">Clear</button>
        <button type="button" class="button" id="share">Share</button>
    </div>
    <div id="canvas-container">
        <canvas id="canvas" width="auto" height="auto"></canvas>
    </div>
</div>
