@using Eindproject_6v
@using Eindproject_6v.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>
    
<div class="topnav">
    <a href="home">Pictr</a>
    <a href="themes">Themes</a>
    <a href="myportfolio">My portfolio</a>
    <a href="contact">Contact</a>
    <a href="aboutus">About us</a>
    <a href="login">Log in</a>
</div>

</body>