@{
    ViewData["Title"] = "About Us";
}

@section Styles {
    <link href="@Url.Content("~/css/AboutUs.css")" rel="stylesheet">
}

<div id="about-us-container">
    <h1>On this page you will get everything you need to know about us!</h1>
    <h2>Who are we?</h2>
    <p>We are a group of students from the Netherlands, around the age from 16 to 18 years old.</p>
    <h2>What is our goal?</h2>
    <p>Our goal is to provide the world with an online place for people to storage the photos they have captured. Next to that, we offer non-copyright photos in different themes to help people find beautiful pictures they might need for presentations.</p>
    <h2>Where are we?</h2>
    <p>We are originally from the Netherlands, but our main office is located in London in the United Kingdom.</p>
    <h2>When did we start?</h2>
    <p>We started this project January 2022, and we are not planning to stop anytime soon!</p>
</div>
